openapi: 3.0.3
info:
  title: RankParse API
  version: 1.0.0
  description: >
    SEO data API for developers and AI agents. Backlinks, domain authority, tech stack,
    real-time page audits, and 20+ signals — all powered by Common Crawl. Billed per call,
    no subscription, no monthly floor. Starting at $0.009/credit. Credits never expire.
  contact:
    name: RankParse Support
    url: https://rankparse.com
  license:
    name: Proprietary
    url: https://rankparse.com/terms

servers:
  - url: https://api.rankparse.com
    description: Production

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  parameters:
    domain:
      name: domain
      in: query
      required: true
      schema:
        type: string
      description: The domain to query (e.g. "example.com")
    limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 100
        minimum: 1
        maximum: 1000
      description: Maximum number of results to return (default 100, max 1000)
    offset:
      name: offset
      in: query
      required: false
      schema:
        type: integer
        default: 0
        minimum: 0
      description: Number of results to skip for pagination
    score:
      name: score
      in: query
      required: false
      schema:
        type: boolean
        default: false
      description: Enable derived score enrichment on each row (adds extra credit cost)
    backlinksSort:
      name: sort
      in: query
      required: false
      schema:
        type: string
        enum: [importance, recent]
        default: importance
      description: >
        Backlink ranking mode. `importance` (default) returns aggregated referrer rows;
        `recent` returns freshest URL-level backlinks.
    backlinksFromDomain:
      name: from_domain
      in: query
      required: false
      schema:
        type: string
      description: Optional source-domain filter (exact domain).
    backlinksLinkType:
      name: link_type
      in: query
      required: false
      schema:
        type: string
      description: Optional link type filter, e.g. `hyperlink` or `image`.
    domainsCsv:
      name: domains
      in: query
      required: true
      schema:
        type: string
      description: Comma-separated domains. Minimum 2, maximum 5.

  schemas:
    Error:
      type: object
      required: [error, code, message]
      properties:
        error:
          type: string
        code:
          type: string
        message:
          type: string

    EnvelopeFields:
      type: object
      required: [credits_used, credits_remaining]
      properties:
        domain:
          type: string
        url:
          type: string
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        credits_used:
          type: integer
          minimum: 0
        credits_remaining:
          type: integer
          minimum: 0

    BacklinkRow:
      type: object
      required: [from_domain, from_url, to_url, link_type, crawled_at]
      properties:
        from_domain:
          type: string
        from_url:
          type: string
        to_url:
          type: string
        anchor_text:
          type: string
          nullable: true
        rel:
          type: string
          nullable: true
        link_type:
          type: string
        domain_host_count:
          type: number
          minimum: 0
          nullable: true
        crawled_at:
          type: string
        from_domain_score:
          type: integer
          minimum: 0
          maximum: 100
        anchor_type:
          type: string
          enum: [branded, partial, naked, generic, image]
        link_quality:
          type: string
          enum: [high, medium, low]

    ReferringDomainRow:
      type: object
      required: [from_domain, dofollow_links, nofollow_links, total_links]
      properties:
        from_domain:
          type: string
        dofollow_links:
          type: integer
          minimum: 0
        nofollow_links:
          type: integer
          minimum: 0
        total_links:
          type: integer
          minimum: 0
        from_domain_score:
          type: integer
          minimum: 0
          maximum: 100

    OutboundLinkRow:
      type: object
      required: [to_domain, to_url, link_type, edge_count]
      properties:
        to_domain:
          type: string
        to_url:
          type: string
        anchor_text:
          type: string
          nullable: true
        link_type:
          type: string
        edge_count:
          type: integer
          minimum: 1

    OutboundSummary:
      type: object
      required: [unique_destinations, top_domain, top_domain_concentration]
      properties:
        unique_destinations:
          type: integer
          minimum: 0
        top_domain:
          type: string
          nullable: true
        top_domain_concentration:
          type: number
          minimum: 0
          maximum: 1

    AnchorTextRow:
      type: object
      required: [anchor_text, link_count, domain_count]
      properties:
        anchor_text:
          type: string
        link_count:
          type: integer
          minimum: 1
        domain_count:
          type: integer
          minimum: 1

    TopPageRow:
      type: object
      required: [url, inbound_links, referring_domains]
      properties:
        url:
          type: string
        inbound_links:
          type: integer
          minimum: 1
        referring_domains:
          type: integer
          minimum: 1
        status_code:
          type: integer
          nullable: true
        mime:
          type: string
          nullable: true

    DomainAuthority:
      type: object
      required: [score, referring_domains, total_host_count, registered_at, registrar, popularity_rank, health_score, risk_flags]
      properties:
        score:
          type: integer
          minimum: 0
          maximum: 100
        referring_domains:
          type: integer
          minimum: 0
        total_host_count:
          type: number
          minimum: 0
        registered_at:
          type: string
          nullable: true
        registrar:
          type: string
          nullable: true
        popularity_rank:
          type: integer
          minimum: 1
          nullable: true
        health_score:
          type: integer
          minimum: 0
          maximum: 100
        risk_flags:
          type: array
          items:
            type: string
            enum: [new_domain, high_authority_new_domain, no_tranco_presence, low_authority]

    DomainRank:
      type: object
      required: [inbound_edges, unique_domains, avg_linking_host_count]
      properties:
        inbound_edges:
          type: integer
          minimum: 0
        unique_domains:
          type: integer
          minimum: 0
        avg_linking_host_count:
          type: number
          minimum: 0

    CrawlHistory:
      type: object
      required: [total_urls]
      properties:
        first_seen:
          type: string
          nullable: true
        last_seen:
          type: string
          nullable: true
        total_urls:
          type: integer
          minimum: 0

    TechStack:
      type: object
      properties:
        server:
          type: string
          nullable: true
        x_powered_by:
          type: string
          nullable: true
        generator:
          type: string
          nullable: true

    PageSeoTitle:
      type: object
      properties:
        text:
          type: string
          nullable: true
        length:
          type: integer
        optimal:
          type: boolean

    PageSeoDescription:
      type: object
      properties:
        text:
          type: string
          nullable: true
        length:
          type: integer
        optimal:
          type: boolean

    PageSeoCanonical:
      type: object
      properties:
        url:
          type: string
          nullable: true
        self_referential:
          type: boolean

    PageSeoRobots:
      type: object
      properties:
        index:
          type: boolean
        follow:
          type: boolean
        raw:
          type: string
          nullable: true

    PageSeoLanguage:
      type: object
      properties:
        primary:
          type: string
          nullable: true
        tag:
          type: string
          nullable: true
        source:
          type: string
          nullable: true

    PageSeoHreflang:
      type: object
      properties:
        lang:
          type: string
        url:
          type: string

    PageSeoHeadings:
      type: object
      properties:
        h1:
          type: array
          items:
            type: string
        h2:
          type: array
          items:
            type: string
        h3_count:
          type: integer

    PageSeoOg:
      type: object
      properties:
        title:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        image:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
        url:
          type: string
          nullable: true

    PageSeoTwitter:
      type: object
      properties:
        card:
          type: string
          nullable: true
        title:
          type: string
          nullable: true

    PageSeoImages:
      type: object
      properties:
        total:
          type: integer
        missing_alt:
          type: integer

    PageSeoLinks:
      type: object
      properties:
        internal:
          type: integer
        external:
          type: integer

    PageSeoData:
      type: object
      required: [url, status_code]
      properties:
        url:
          type: string
        final_url:
          type: string
        status_code:
          type: integer
        response_time_ms:
          type: integer
        title:
          $ref: '#/components/schemas/PageSeoTitle'
        description:
          $ref: '#/components/schemas/PageSeoDescription'
        canonical:
          $ref: '#/components/schemas/PageSeoCanonical'
        robots:
          $ref: '#/components/schemas/PageSeoRobots'
        viewport:
          type: string
          nullable: true
        language:
          $ref: '#/components/schemas/PageSeoLanguage'
        hreflang:
          type: array
          items:
            $ref: '#/components/schemas/PageSeoHreflang'
        headings:
          $ref: '#/components/schemas/PageSeoHeadings'
        og:
          $ref: '#/components/schemas/PageSeoOg'
        twitter:
          $ref: '#/components/schemas/PageSeoTwitter'
        json_ld:
          type: array
          items:
            type: object
        images:
          $ref: '#/components/schemas/PageSeoImages'
        links:
          $ref: '#/components/schemas/PageSeoLinks'
        word_count:
          type: integer
        favicon:
          type: string
          nullable: true

    SiteHealthHttps:
      type: object
      properties:
        enforced:
          type: boolean
        hsts:
          type: boolean
        hsts_max_age:
          type: integer
          nullable: true

    SiteHealthWwwRedirect:
      type: object
      properties:
        enabled:
          type: boolean
        target:
          type: string
          nullable: true

    SiteHealthCheck:
      type: object
      properties:
        url:
          type: string
        status:
          type: integer
          nullable: true
        content_type:
          type: string
          nullable: true
        response_time_ms:
          type: integer
          nullable: true

    SiteHealthSecurityHeaders:
      type: object
      properties:
        x_frame_options:
          type: string
          nullable: true
        x_content_type_options:
          type: string
          nullable: true
        content_security_policy:
          type: boolean
        strict_transport_security:
          type: string
          nullable: true
        referrer_policy:
          type: string
          nullable: true

    SiteHealthRobotsTxt:
      type: object
      properties:
        present:
          type: boolean
        disallow_all:
          type: boolean
        sitemap_declared:
          type: boolean

    SiteHealthData:
      type: object
      required: [domain, https, www_redirect, checks, security_headers, robots_txt]
      properties:
        domain:
          type: string
        https:
          $ref: '#/components/schemas/SiteHealthHttps'
        www_redirect:
          $ref: '#/components/schemas/SiteHealthWwwRedirect'
        checks:
          type: array
          items:
            $ref: '#/components/schemas/SiteHealthCheck'
        security_headers:
          $ref: '#/components/schemas/SiteHealthSecurityHeaders'
        robots_txt:
          $ref: '#/components/schemas/SiteHealthRobotsTxt'

    SitemapEntry:
      type: object
      required: [url]
      properties:
        url:
          type: string
        lastmod:
          type: string
          nullable: true
        changefreq:
          type: string
          nullable: true
        priority:
          type: string
          nullable: true

    DomainOverlapRow:
      type: object
      required: [from_domain, total_links, targets_linked]
      properties:
        from_domain:
          type: string
        total_links:
          type: number
          minimum: 0
        targets_linked:
          type: integer
          minimum: 1

    LinkIntersectRow:
      type: object
      required: [from_domain, total_links]
      properties:
        from_domain:
          type: string
        total_links:
          type: number
          minimum: 0

    SimilarDomainRow:
      type: object
      required: [similar_domain, shared_linkers]
      properties:
        similar_domain:
          type: string
        shared_linkers:
          type: integer
          minimum: 1

    CompetitorGapRow:
      type: object
      required: [from_domain, total_links, from_domain_score]
      properties:
        from_domain:
          type: string
        total_links:
          type: number
          minimum: 0
        from_domain_score:
          type: integer
          minimum: 0
          maximum: 100

    LinkAuditQuality:
      type: object
      required: [high, medium, low, total]
      properties:
        high:
          type: integer
          minimum: 0
        medium:
          type: integer
          minimum: 0
        low:
          type: integer
          minimum: 0
        total:
          type: integer
          minimum: 0

    LinkAuditBacklink:
      type: object
      required: [from_domain, from_domain_score, anchor_type, link_quality]
      properties:
        from_domain:
          type: string
        from_domain_score:
          type: integer
          minimum: 0
          maximum: 100
        anchor_type:
          type: string
          enum: [branded, partial, naked, generic, image]
        link_quality:
          type: string
          enum: [high, medium, low]

    LinkAudit:
      type: object
      required:
        - domain
        - health_score
        - risk_flags
        - link_quality
        - anchor_profile
        - top_backlinks
        - risk_backlinks
        - outbound_summary
        - credits_used
        - credits_remaining
      properties:
        domain:
          type: string
        health_score:
          type: integer
          minimum: 0
          maximum: 100
        risk_flags:
          type: array
          items:
            type: string
            enum: [new_domain, high_authority_new_domain, no_tranco_presence, low_authority]
        link_quality:
          $ref: '#/components/schemas/LinkAuditQuality'
        anchor_profile:
          type: object
          required: [branded, partial, generic, naked, image]
          properties:
            branded:
              type: number
              minimum: 0
              maximum: 1
            partial:
              type: number
              minimum: 0
              maximum: 1
            generic:
              type: number
              minimum: 0
              maximum: 1
            naked:
              type: number
              minimum: 0
              maximum: 1
            image:
              type: number
              minimum: 0
              maximum: 1
        top_backlinks:
          type: array
          items:
            $ref: '#/components/schemas/LinkAuditBacklink'
        risk_backlinks:
          type: array
          items:
            $ref: '#/components/schemas/LinkAuditBacklink'
        outbound_summary:
          $ref: '#/components/schemas/OutboundSummary'
        credits_used:
          type: integer
          minimum: 0
        credits_remaining:
          type: integer
          minimum: 0
        crawl_release:
          type: string
        cached:
          type: boolean

    SiteExplorer:
      type: object
      required: [backlinks, backlinks_total, authority, top_pages, anchor_text]
      properties:
        backlinks:
          type: array
          items:
            $ref: '#/components/schemas/BacklinkRow'
        backlinks_total:
          type: integer
          minimum: 0
        authority:
          $ref: '#/components/schemas/DomainAuthority'
        top_pages:
          type: array
          items:
            $ref: '#/components/schemas/TopPageRow'
        anchor_text:
          type: array
          items:
            $ref: '#/components/schemas/AnchorTextRow'

    BatchResultItem:
      type: object
      required: [domain, success]
      properties:
        domain:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/BacklinkRow'
        total:
          type: integer
        success:
          type: boolean
        error:
          type: string

    PagePerformanceCategory:
      type: object
      properties:
        score:
          type: number
          minimum: 0
          maximum: 1
          nullable: true
        display_value:
          type: string

    PagePerformanceMetric:
      type: object
      properties:
        value:
          type: number
        display_value:
          type: string
        score:
          type: number
          nullable: true

    PagePerformanceData:
      type: object
      properties:
        url:
          type: string
        strategy:
          type: string
          enum: [mobile, desktop]
        performance_score:
          type: number
          minimum: 0
          maximum: 1
          nullable: true
        accessibility_score:
          type: number
          minimum: 0
          maximum: 1
          nullable: true
        seo_score:
          type: number
          minimum: 0
          maximum: 1
          nullable: true
        best_practices_score:
          type: number
          minimum: 0
          maximum: 1
          nullable: true
        metrics:
          type: object
          properties:
            first_contentful_paint:
              $ref: '#/components/schemas/PagePerformanceMetric'
            largest_contentful_paint:
              $ref: '#/components/schemas/PagePerformanceMetric'
            total_blocking_time:
              $ref: '#/components/schemas/PagePerformanceMetric'
            cumulative_layout_shift:
              $ref: '#/components/schemas/PagePerformanceMetric'
            speed_index:
              $ref: '#/components/schemas/PagePerformanceMetric'
            time_to_interactive:
              $ref: '#/components/schemas/PagePerformanceMetric'

    StubData:
      type: object
      required: [status, reason]
      properties:
        status:
          type: string
          enum: ['not_yet_available']
        reason:
          type: string

    LayerStatus:
      type: object
      required: [ok]
      properties:
        ok:
          type: boolean
        latency_ms:
          type: number
        detail:
          type: string
        error:
          type: string

    HealthResponse:
      type: object
      required: [overall, timestamp, crawl_release, d1, r2, r2sql]
      properties:
        overall:
          type: string
          enum: ['healthy', 'degraded', 'down']
        timestamp:
          type: string
        crawl_release:
          type: string
        d1:
          $ref: '#/components/schemas/LayerStatus'
        r2:
          $ref: '#/components/schemas/LayerStatus'
        r2sql:
          $ref: '#/components/schemas/LayerStatus'

  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    PaymentRequired:
      description: Insufficient credits
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Rate limit exceeded (60 requests/minute)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

paths:
  /ping:
    get:
      operationId: getPing
      summary: Ping
      description: Fast liveness check. Returns immediately with no database queries. No authentication required.
      security: []
      tags: [System]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean

  /health:
    get:
      operationId: getHealth
      summary: Health check
      description: Returns the health status of all subsystems (D1, R2, R2 SQL). No authentication required.
      security: []
      tags: [System]
      responses:
        '200':
          description: All systems healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '207':
          description: Degraded — some subsystems unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Down — critical subsystems unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /v1/credits:
    get:
      operationId: getCredits
      summary: Check credit balance
      description: Returns the current credit balance for the authenticated user. Does not deduct credits.
      tags: [Account]
      responses:
        '200':
          description: Current credit balance
          content:
            application/json:
              schema:
                type: object
                required: [credits]
                properties:
                  credits:
                    type: integer
                    minimum: 0
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/backlinks:
    get:
      operationId: getBacklinks
      summary: Get backlinks for a domain
      description: >
        Returns backlinks pointing to the specified domain from Common Crawl data.
        Default `sort=importance` returns aggregated referrer rows ordered by domain authority.
        `sort=recent` returns URL-level backlink rows ordered by crawl recency.
        Costs 2 credits (or 3 credits with `score=true`).
      tags: [Link Graph]
      parameters:
        - $ref: '#/components/parameters/domain'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/score'
        - $ref: '#/components/parameters/backlinksSort'
        - $ref: '#/components/parameters/backlinksFromDomain'
        - $ref: '#/components/parameters/backlinksLinkType'
      responses:
        '200':
          description: Backlinks for the domain
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeFields'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/BacklinkRow'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/referring-domains:
    get:
      operationId: getReferringDomains
      summary: Get referring domains
      description: Returns domains that link to the specified domain with dofollow/nofollow link counts. Costs 2 credits (or 3 credits with score=true).
      tags: [Link Graph]
      parameters:
        - $ref: '#/components/parameters/domain'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/score'
      responses:
        '200':
          description: Referring domains
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeFields'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/ReferringDomainRow'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/outbound-links:
    get:
      operationId: getOutboundLinks
      summary: Get outbound links from a domain
      description: Returns external links going out from the specified domain with anchor text and link type. Costs 2 credits.
      tags: [Link Graph]
      parameters:
        - $ref: '#/components/parameters/domain'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Outbound links
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeFields'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/OutboundLinkRow'
                      summary:
                        $ref: '#/components/schemas/OutboundSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/anchor-text:
    get:
      operationId: getAnchorText
      summary: Get anchor text distribution
      description: Returns anchor text phrases used in links pointing to the domain, with link and domain counts. Costs 2 credits.
      tags: [Link Graph]
      parameters:
        - $ref: '#/components/parameters/domain'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Anchor text distribution
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeFields'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/AnchorTextRow'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/top-pages:
    get:
      operationId: getTopPages
      summary: Get top pages by inbound links
      description: Returns pages on the domain ranked by number of inbound links. Costs 2 credits.
      tags: [Link Graph]
      parameters:
        - $ref: '#/components/parameters/domain'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Top pages
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeFields'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/TopPageRow'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/domain-authority:
    get:
      operationId: getDomainAuthority
      summary: Get domain authority score
      description: >
        Returns a 0-100 authority score based on referring domains, enriched with RDAP registration data
        and Tranco popularity rank. Costs 1 credit.
      tags: [Domain Metrics]
      parameters:
        - $ref: '#/components/parameters/domain'
      responses:
        '200':
          description: Domain authority data
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeFields'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/DomainAuthority'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/domain-rank:
    get:
      operationId: getDomainRank
      summary: Get domain rank metrics
      description: Returns inbound edge count, unique linking domains, and average linking host count. Costs 2 credits.
      tags: [Domain Metrics]
      parameters:
        - $ref: '#/components/parameters/domain'
      responses:
        '200':
          description: Domain rank data
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeFields'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/DomainRank'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/crawl-history:
    get:
      operationId: getCrawlHistory
      summary: Get crawl history for a domain
      description: Returns first seen date, last seen date, and total URL count from the Common Crawl index. Costs 2 credits.
      tags: [Domain Metrics]
      parameters:
        - $ref: '#/components/parameters/domain'
      responses:
        '200':
          description: Crawl history
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeFields'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/CrawlHistory'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/tech-stack:
    get:
      operationId: getTechStack
      summary: Get detected tech stack
      description: >
        Fetches the domain in real time and returns detected server software, CMS, and framework
        signals from HTTP headers and meta tags. Costs 2 credits.
      tags: [Page Analysis]
      parameters:
        - $ref: '#/components/parameters/domain'
      responses:
        '200':
          description: Tech stack data
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeFields'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/TechStack'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/page-seo:
    get:
      operationId: getPageSeo
      summary: Full SEO audit for a URL
      description: >
        Fetches the target URL in real time and returns a complete SEO audit including meta tags,
        Open Graph, JSON-LD structured data, hreflang, headings, image alt coverage, internal/external
        links, word count, and more. Returns 503 if the URL is unreachable. Costs 3 credits.
      tags: [Page Analysis]
      parameters:
        - name: url
          in: query
          required: true
          schema:
            type: string
          description: The full URL to analyze (e.g. "https://example.com/about")
      responses:
        '200':
          description: Page SEO audit
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeFields'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/PageSeoData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          description: Target URL unreachable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/site-health:
    get:
      operationId: getSiteHealth
      summary: Real-time site health check
      description: >
        Probes key URLs in real time to check HTTPS enforcement, HSTS, www redirect, security headers,
        robots.txt presence, and sitemap availability. Costs 2 credits.
      tags: [Page Analysis]
      parameters:
        - $ref: '#/components/parameters/domain'
      responses:
        '200':
          description: Site health report
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeFields'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/SiteHealthData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/sitemap:
    get:
      operationId: getSitemap
      summary: Discover and parse a domain's sitemap
      description: >
        Discovers a domain's sitemap via robots.txt, then parses and returns the URL inventory
        with lastmod, changefreq, and priority. For sitemap indexes, up to 5 child sitemaps
        are fetched in parallel. Returns empty data (not an error) when no sitemap is found.
        The legacy `/v1/url-index` route redirects here (301). Costs 2 credits.
      tags: [Page Analysis]
      parameters:
        - $ref: '#/components/parameters/domain'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Sitemap URL inventory
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeFields'
                  - type: object
                    required: [data, total, sitemap_url, sitemap_type, child_sitemaps, source]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SitemapEntry'
                      total:
                        type: integer
                        minimum: 0
                      sitemap_url:
                        type: string
                        nullable: true
                      sitemap_type:
                        type: string
                        enum: [sitemap, index, none]
                      child_sitemaps:
                        type: array
                        items:
                          type: string
                      source:
                        type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/page-performance:
    get:
      operationId: getPagePerformance
      summary: Page performance and Core Web Vitals
      description: >
        Runs a Google PageSpeed Insights analysis and returns Lighthouse scores plus Core Web Vitals
        (LCP, CLS, TBT, FCP, Speed Index, TTI). Results are cached for 24 hours.
        Subject to a global cap of 25,000 calls/day and 50 calls/day per user.
        Costs 3 credits (deducted only on successful PSI response).
      tags: [Page Analysis]
      parameters:
        - name: url
          in: query
          required: true
          schema:
            type: string
          description: The full URL to analyze
        - name: strategy
          in: query
          required: false
          schema:
            type: string
            enum: [mobile, desktop]
            default: mobile
          description: Device strategy (default mobile)
      responses:
        '200':
          description: Performance scores and Core Web Vitals
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeFields'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/PagePerformanceData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          description: Daily quota reached (global or per-user)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Error'
                  - type: object
                    properties:
                      retry_after:
                        type: string
        '503':
          description: PageSpeed Insights API unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/domain-overlap:
    get:
      operationId: getDomainOverlap
      summary: Find domains linking to multiple targets
      description: >
        Returns domains that link to two or more of the specified target domains.
        Requires at least 2 domains and allows up to 5. Costs 5 credits.
      tags: [Cross-Domain]
      parameters:
        - $ref: '#/components/parameters/domainsCsv'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Overlapping domains
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeFields'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/DomainOverlapRow'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/link-intersect:
    get:
      operationId: getLinkIntersect
      summary: Find domains linking to both targets
      description: Returns domains that link to both domain_a and domain_b. Useful for finding shared link sources. Costs 5 credits.
      tags: [Cross-Domain]
      parameters:
        - name: domain_a
          in: query
          required: true
          schema:
            type: string
          description: First domain to compare
        - name: domain_b
          in: query
          required: true
          schema:
            type: string
          description: Second domain to compare
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Intersecting linker domains
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeFields'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/LinkIntersectRow'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/competitor-gap:
    get:
      operationId: getCompetitorGap
      summary: Find competitor link gaps
      description: >
        Returns domains that link to the competitor (`vs`) but not to the target domain.
        Use this to discover link-building opportunities where competitors have coverage you don't.
        Costs 5 credits.
      tags: [Cross-Domain]
      parameters:
        - $ref: '#/components/parameters/domain'
        - name: vs
          in: query
          required: true
          schema:
            type: string
          description: Competitor domain to compare against
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 200
          description: Maximum results to return (default 50, max 200)
      responses:
        '200':
          description: Competitor gap domains
          content:
            application/json:
              schema:
                type: object
                required: [domain, vs, data, total, returned, credits_used, credits_remaining]
                properties:
                  domain:
                    type: string
                  vs:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompetitorGapRow'
                  total:
                    type: integer
                    minimum: 0
                  returned:
                    type: integer
                    minimum: 0
                  credits_used:
                    type: integer
                    minimum: 0
                  credits_remaining:
                    type: integer
                    minimum: 0
                  crawl_release:
                    type: string
                  cached:
                    type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/similar-domains:
    get:
      operationId: getSimilarDomains
      summary: Find similar domains
      description: >
        Returns domains that share linking domains with the target — a signal of topical proximity.
        Limit is capped at 100. Costs 5 credits.
      tags: [Cross-Domain]
      parameters:
        - $ref: '#/components/parameters/domain'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 100
          description: Maximum results (default 100, max 100)
      responses:
        '200':
          description: Similar domains
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeFields'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SimilarDomainRow'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/link-audit:
    get:
      operationId: getLinkAudit
      summary: Run link profile audit
      description: >
        Returns a composite backlink quality score, anchor text profile, risk flags, and outbound
        link concentration signals in a single request. Costs 8 credits.
      tags: [Power Endpoints]
      parameters:
        - $ref: '#/components/parameters/domain'
      responses:
        '200':
          description: Link audit report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkAudit'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/site-explorer:
    get:
      operationId: getSiteExplorer
      summary: Full site overview
      description: >
        Returns backlinks, authority score, top pages, and anchor text distribution in a single request.
        Costs 10 credits.
      tags: [Power Endpoints]
      parameters:
        - $ref: '#/components/parameters/domain'
      responses:
        '200':
          description: Site explorer data
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeFields'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/SiteExplorer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/batch:
    post:
      operationId: postBatch
      summary: Batch backlink lookup
      description: >
        Looks up backlinks for up to 50 domains in a single request.
        Costs 2 credits per successfully queried domain (charged after queries complete).
      tags: [Power Endpoints]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domains]
              properties:
                domains:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  maxItems: 50
                  description: Domains to look up backlinks for
      responses:
        '200':
          description: Batch results
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeFields'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/BatchResultItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/link-velocity:
    get:
      operationId: getLinkVelocity
      summary: Link velocity (stub)
      description: >
        Not yet available in v1. Requires two crawl releases to compute.
        Returns immediately with status "not_yet_available". Costs 0 credits.
      tags: [Stubs]
      parameters:
        - name: domain
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Stub response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeFields'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/StubData'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/new-links:
    get:
      operationId: getNewLinks
      summary: New links (stub)
      description: >
        Not yet available in v1. Requires two crawl releases to compute.
        Returns immediately with status "not_yet_available". Costs 0 credits.
      tags: [Stubs]
      parameters:
        - name: domain
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Stub response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeFields'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/StubData'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/lost-links:
    get:
      operationId: getLostLinks
      summary: Lost links (stub)
      description: >
        Not yet available in v1. Requires two crawl releases to compute.
        Returns immediately with status "not_yet_available". Costs 0 credits.
      tags: [Stubs]
      parameters:
        - name: domain
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Stub response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeFields'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/StubData'
        '401':
          $ref: '#/components/responses/Unauthorized'
